<div th:fragment="CardGames" class="mt-20 grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 p-1 mt-4 opacity-20 hover:transition-all duration-500 ease-out transform hover:translate-y-10 hovgrid-cols-1 hover:opacity-100">
    <div class="relative w-full p-15 overflow-hidden rounded-lg shadow-md transition-all ease-out duration-300 transform hover:scale-90 hover:translate-x-4 flex flex-col justify-center items-center mx-auto">
      <img src="https://th.bing.com/th/id/R.2a7ebc519967dea7062d2a9305f2f39d?rik=CBXI6kOAC94iKg&pid=ImgRaw&r=0" alt="example" class="w-full h-96 object-cover" />
  
      <div class="absolute inset-0 flex flex-col justify-center items-center p-4 bg-black bg-opacity-60 transition-opacity opacity-0 hover:opacity-100">
        <div class="flex items-center text-white mb-2">
          <img class="w-4 mr-2" src="https://cdn-icons-png.flaticon.com/512/3128/3128313.png" />
          <p>130 Likes</p>
        </div>
  
        <a href="https://filecrypt.co/Container/3F0481C4C7.html" target="_blank" class="block bg-pink-500 text-white py-2 px-4 rounded-full text-center hover:bg-black font-bold hover:">
           Descargar
        </a>
      </div>
    </div>
  </div>
  