<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
      <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <title th:text="${model1}"></title>
</head>
<body>
 
    <div th:replace="Components/header :: header"></div>

   <div class="text-center m-10">
  <h1 class=" text-5xl font-bold m-10">Welcome add new games  in your pc </h1>
<p class=" text-1xl">our webservices you can play everywhere your games then save your games!</p>  
   </div>
   
    <h1 class="font-bold text-center m-10 text-5xl">more project in our github</h1>
   
   <div class=" flex flex-wrap justify-center items-center hover:transition-all duration-300  text-center transform ease-out hover:translate-y-4 opacity-70 hover:opacity-100">
	  
	   <div class="mt-10" th:replace="Components/Card ::Card"></div>
     <div class="mt-10" th:replace="Components/Card ::Card"></div>
       <div class="mt-10" th:replace="Components/Card ::Card"></div>
   </div>
  <div th:replace="Components/footter :: footter"></div>
  
  
    </body>
</html>
